// Colors
$primary: #3498db;
$secondary: #e67e22;
$success: #2ecc71;
$danger: #e74c3c;
$black: black;
$light-gray: lightgray;
// Spaces
$space-between-action-buttons: 3px;
$box-spaces: 20px;
$box-inside-space: 100px;
// Font sizes
$title-size: 16px;
$content-size: 14px;