<button class="btn btn-success" routerLink="/customer">Add New</button>
<table class="customers table table-bordered table-hover table-sm">
  <thead>
    <tr scope="col">
      <th>Customer ID</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>
        {{customer.customerID}}
      </td>
      <td>
        {{customer.name.first}} {{customer.name.last}}
      </td>
      <td>
        {{customer.birthday}}
      </td>
      <td>
        <button routerLink="/customer/{{customer.customerID}}" class=" btn btn-outline-primary btn-sm ">Edit</button>
        <button (click)="deleteCustomer(customer)" class="btn btn-outline-danger btn-sm">Delete</button>
      </td>
    </tr>
  </tbody>
</table>