<div>
  <button class="btn btn-outline-success btn-sm" (click)="goBack()">Back</button>
</div>

<div *ngIf="customer">
  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-5">
      <input id="firstName" class="form-control" [(ngModel)]="customer.name.first" placeholder="First Name" />
    </div>
    <div class="col-sm-5">
      <input class="form-control" [(ngModel)]="customer.name.last" placeholder="Last Name" />
    </div>
  </div>
  <div class="form-group row">
    <label for="birthday" class="col-sm-2 col-form-label">Birthday</label>
    <div class="col-sm-10">
      <input id="birthday" class="form-control" [(ngModel)]="customer.birthday" placeholder="Birthday" />
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input id="male-radio" class="form-check-input" type="radio" value="m" name="gender" [ngModel]="customer.gender">
          <label class="form-check-label" for="male-radio">
            Male
          </label>
        </div>
        <div class="form-check">
          <input id="female-radio" class="form-check-input" type="radio" value="w" name="gender" [ngModel]="customer.gender">
          <label class="form-check-label" for="female-radio">
            Female
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-2">Customer Life time Value</div>
    <div class="col-sm-10">
      <input id="customerLifetimeValue" class="form-control" [(ngModel)]="customer.customerLifetimeValue" placeholder="Customer Life time Value" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>